*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    margin: 0;
    display: grid;
   height: 100vh;
   width: auto;
   background-color:  hsl(234, 29%, 20%);
   
   


}
/* main container styles doen here */
.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:auto 1fr ;
    margin: 6% 16%;
    padding-left: 2%;
    padding-right: 3%;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 870px;
    overflow: visible;
    border-radius: 12px;
    background: rgb(220, 211, 211);
    /* background:conic-gradient( hsla(4, 100%, 67%, 0.708),hsl(0, 0%, 100%),hsl(235, 18%, 26%)) ; */
}
/* heading class style down here */
.heading{
    
    height: auto;
    width: auto;
    box-sizing: border-box;
    padding-left: 5%;
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    min-width: 160px;
    padding-right: 2%;
}
/* h1 tag styles down here */
#head{
    
    font-family: 'Carter One';
    color : hsl(237, 23%, 17%);
  
}
/* style for all cickable items */
.texting{
    margin: 0;
    display: flex;
    justify-content: center;
    
}
/* form styles */
.texting .myform{
    display: grid;
    grid-template-rows: repeat(4,auto) ;
    height: 85%;
    width: 90%;
    min-width: 280px;
}
/* all input tags  */
.tags{
    display: grid;
    grid-template-rows: repeat(2,auto);
    box-sizing: border-box;
    padding-bottom: 4%;
}
/* class for username label */
.tags .rebel{
    display: block;
    color: hsl(234, 29%, 20%) ;
    font-weight: 900;
}
/* styles for all inputs */
.tags #name ,.tags #finish{
    background-color:  hsl(234, 29%, 20%)   ;
    border-radius: 8px;
    width: 40vw;
    min-width: 160px;
    border-color: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    user-select: none;
    font-weight: 800;
    letter-spacing: 3.5px;
    padding: 0 10px;
}
/* styles for piano html  with class peop */
.peop {
    background: hsl(237, 23%, 17%);
    width: 90vw;
    max-width: 800px;
    margin: auto;
    display: none;
    grid-template-rows: auto 1fr;
    justify-self: center;
    place-self: center;
    padding: 2% 5%;
    height: 60vh;
    color: #f5f2f2;
    font-weight: 700;
    min-width: 705px;
    margin-bottom: 10%;
}
/* submit button styles */
.tags #finish{
    color: hsl(234, 29%, 20%);
    background: hsla(0, 12%, 74%, 0.815);
    font-weight: 900;
    font-size: 130%;
    border: 6px solid  hsl(234, 29%, 20%);
}
/* styles ffor input-like div */
#pass{

    background:hsl(234, 29%, 20%)  ;
    border: 4px;
    border-radius: 8px;
    width: 40vw;
    height: 4vh;
}
/* styles for container-pass class */
.container-pass{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* styles for container-pass1 class */
.container-pass1{
    
    flex-direction: column;
    gap: 1rem;
}

/* styles for empty div space class */
.space{
   
    background:hsl(234, 29%, 20%)  ;
    border: 4px;
    border-radius: 8px;
    width: 40vw;
    height: 4vh;
}
/* style for issue alert div with strress id */
#stress{
    color: red;
    font-weight: 900;
}